
@mixin flex($direction,$justify-content,$align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}


li{
    list-style-type: none !important;
}

a{
    text-decoration: none !important;
}